# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pem
*.key
src/dv_aws_iot_test/secrets.h
src/dv_certstore_test/secrets.h
src/dv-ota-update-test/secrets.h
src/dv-furnace-monitor/secrets.h
src/dv_certstore_test/data/DJWESP8266-2.pem.crt
*.crt
src/VicGE-2/secrets.h
src/VicGE-1/secrets.h
